:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  --eggshell: #fcf9ed;
  --black: #010400;
  --grey: #5e6472;
  --misty-rose: #ffdad6;
  --uranian-blue: #a9d8ef;

  color-scheme: light dark;
  color: var(--grey);
  background-color: var(--eggshell);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--eggshell);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  background-color: var(--eggshell);
  padding: 1em 1.5em;
  border-bottom: solid 3px var(--misty-rose);
}

footer {
  padding: 1rem 2rem;
  font-size: 0.9rem;
  background-color: var(--uranian-blue);
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--black);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--eggshell);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--grey);
}
