footer {
  padding: 3em 0;
  border-radius: 0.5em;
  background-color: #eff1f3;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #d07389;
  font-weight: 500;
}

footer a:hover {
  color: #6d3b6a;
}
