.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  color: #AAAAAA;
  font-weight: 300;
  font-size: 1.2rem;
}

.subtitle strong {
  color: #EEEEEE;
}
