body {
  color: #252525;
}

main,
header,
footer {
  max-width: 800px;
  margin: auto;
}

footer {
  font-size: 14px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

main {
  margin-top: 24px;
  margin-bottom: 24px;
}

h1 {
  margin: 32px 24px;
}

hr {
  height: 1px;
  border: none;
  background-color: #d3d3d3;
}

section {
  margin: 16px 24px 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}

label {
  margin-right: 8px;
}

input {
  margin-right: 8px;
}

input[type='text'] {
  font-size: 16px;
  padding: 8px 6px;
  border: 1px solid white;
  border-bottom: 1px solid #746ab0;
}

input[type='text']:focus {
  outline: none;
  border: 1px solid #746ab0;
  border-radius: 4px;
}

button {
  margin-right: 8px;

  border: 1px solid #746ab0;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
}

button.primary {
  background-color: #746ab0;
  color: white;
}

button.secondary {
  background-color: white;
  color: #746ab0;
}

div:has(> input[type='checkbox']) {
  margin-bottom: 12px;
}

a {
  color: #746ab0;
}

@media only screen and (max-width: 612px) {
  h1 {
    text-align: center;
  }

  label:has(+ input[type='text']) {
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 16px auto;
  }

  button {
    display: block;
    font-size: 16px;
    margin: 16px auto;
    min-width: 178px;
  }

  input[type='text'] {
    display: block;
    font-size: 16px;
    margin: 16px auto;
  }
}
